//Varibles for fonts
$font-stack: "Roboto", Helvetica, sans-serif;
$background-color: #FFFFFF;
$font-color: #10120C;
$detail-color: #FF8418;
$detail-font-color: #FFFFFF;


//Themes
@mixin detail-color-theme {
    background-color: $detail-color;
    color: $detail-font-color;  
}
