
//Form style
 form {
     width: 100%;

 }

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
button {
    width: 30%;
    background-color: $main-color;
    color: $detail-font-color;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    background-color: $detail-color;
  }

