body {
    font-family: $font-stack;
}

//Klasser
.center {
    text-align: center;
}

.hidden {
    display: none;
}

.linkButton {
    width: 20%;
    background-color: $main-color;
    color: $detail-font-color;
    padding: 12px 20px;
    border-radius: 4px;
    display: block;
    margin: 40px auto;
    text-decoration: none;
    text-align: center;

    
}
.linkButton:hover {
    background-color: $detail-color;
}

h1, h2 {
    margin-bottom: 15px;
}


#wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 25px 0;

    #mainMenu ul li {
        display: inline;
        margin-right: 30px;
        font-weight: 500;
    }
    #mainMenu ul li a {
        text-decoration: none;
        color: $main-color;
    }
    #mainMenu ul li a:hover {
        text-decoration: none;
        color: $detail-color;
    }

}
section {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
}
  
#linkSection {
    margin-top: 75px;
     a {
        width: 30%;
        background-color: $main-color;
        color: $detail-font-color;
        padding: 12px 20px;
        margin: 20px 0;
        border: none;
        border-radius: 4px;
        display: block;
        text-decoration: none;
     }
     a:hover {
        background-color: $detail-color;
     }
}

.contentList {
    margin: 75px auto;
}


footer {
    text-align: center;
    margin-top: 100px;
    padding: 30px;
}